.weather-card {
  background: #3d8dc9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.weather-card img {
  width: 100px;
}

.weather-card h2 {
  margin: 0;
}

.weather-card h3 {
  font-size: 32px;
  margin: 10px 0;
}

.details {
  margin-top: 10px;
  font-size: 14px;
}