body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 400px;
  background: #3d8dc9;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 16px;
}

.search-box button {
  padding: 10px 15px;
  background: #4facfe;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.search-box button:hover {
  background: #00c6fb;
}